[Match]
Name=${NODE_NETWORK_INTERFACE}

[Network]
Address=${NODE_HOST_IP}/${MASTER_VIP_CLUSTER_CIDR}
Gateway=${NODE_GATEWAY_IP}
DNS=${CLUSTER_DNS}
LinkLocalAddressing=no

[DHCP]
ClientIdentifier=mac
